@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Montserrat:wght@100;400;600;700&family=Roboto&display=swap');

body{
    /* background: #fbf7f3; */
    /* background: url('https://ik.imagekit.io/theartling/prod/original_images/Wassily_Kandinsky_Composition_8_1923.__2018_Artists_Rights_Society_ARS_New.jpg?tr=w-825,h-600,c-at_max,bg-FFFFFF'); */
    /* background: url('../img/img-2.jpg'); */
    /* background-image: url('../img/img-2.jpg'); */
    background-color: #fbf7f3;
    font-size: 1.5vw;
    /* background: linear-gradient(to bottom, #fbf7f3,#ffffff); */
    font-family: 'Roboto',sans-serif;
}

#title{
    color: #4c9e78;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 150; */
}

.subtitle{
    color: rgb(233, 143, 7);
    font-family: 'Montserrat', sans-serif;
}

#image-division{
    height: 400pt;
    width: 70vw;
    /* background: url('../img/img-2.jpg') no-repeat ; */
    /* background: url('../img/img-2.jpg'); */
    /* background-repeat: no-repeat; */

    /* Gradient */
    /* background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); */
    /* background: linear-gradient(315deg, #c5224b , #edad44 , #e4cd8c ); */
    /* background: radial-gradient(circle, #ffffff,#e4cd8c , #edad44,  #c5224b); */

    /* Image with gradient */
    background-image: url('../img/om.png'), radial-gradient(circle, #ffffff,#e4cd8c , #edad44,  #c5224b);
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid #ff9d00;
    margin: 10px;
    /* float: right; */

}

.link{
    text-decoration: wavy underline;
}
.link:hover{
    text-decoration: dotted line-through;
}

.para-text{
    text-transform: capitalize;
    text-align: justify;

    /* font-family: "Times New Roman", monospace, serif; */
    
}

.italics{
    font-style:oblique;
}

#about-me-image{
    /* height: 64vw;
    height: 36vw;  */
    width: 60%;

    border: 3px solid #4c9e78;
    /* padding: 10px 20px 40px 80px; */
    /* margin: 80px 40px; */
    float: right;
    margin: 0 40px;
}

#table1{
    /* display: none
    display: inline; */
    display: inline-block;
}

.flex-container{
    background-color: #ffffff;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction:row;
    /* flex-wrap:wrap; */
    /* justify-content:space-between; */
    /* align-items:baseline; */

    align-items: center;
}

.flex-item{
    background-color: #4c9e78;
    color: white;
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}
.flex-item:hover{
    background-color:#ff9d00;
}

.grid-container{
    margin: 10px;
    background-color: #ffffff;
    height: 500px;

    display: grid;
    /* grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10vh 20vh 30vh; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    /* grid-column-gap: 100px;
    grid-row-gap: 250px; */
    /* grid-gap: 250px 100px; */
    /* justify-content:space-evenly; */
    /* align-content:start; */

}

.grid-item{
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.services{
    margin-top: auto;
}

.about-me{
    display: flexbox;
}

.form-input{
    display: block;
    margin-bottom: 0.5rem;
}

.contact-us-form{
    margin: 10px;
}

.submit-button{
    display: block;
    padding: 7px 10px;
    background-color:rgb(89, 150, 255);
    color: white;
    border: none;
    font-family: 'Lato',sans-serif;
    font-size:medium;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color, border-bottom, border-left 500ms ease 300ms;
    /* transition: padding 300ms; */
    transition: transform 800ms ease;
}
.submit-button:hover{
    background-color: rgb(121, 169, 253);
    /* padding: 8px 12px; */

    /* linear transform */
    /* transform: translate(1px, -2px); */
    /* transform: scale(1.075); */

    /* rotational transform */
    transform: rotate(-45deg);
    /* transform: skewX(4deg); */
    /* transform: matrix(1, 0.04, 0.04, 1, 4, -4); */

    border-bottom: 2px solid rgb(61, 61, 61);
    border-left: 1px solid rgb(61, 61, 61);
}